<form action="/figures/<%= @figure.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">

  <label>Name</label>
  <input type="text" name="figure[name]" id="name" value="<%= @figure.name %>">

  <label>Edit Landmarks</label>
  <% Landmark.all.each do |landmark| %>
    <label><%= landmark.name %></label>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>" <%='checked' if @figure.landmarks.include?(landmark) %>>
  <% end %>

  <label>Add New Landmark:</label>
  <input type="text" name="landmark[name]" id="new_landmark">

  <label>Edit Titles</label>
  <% Title.all.each do |title| %>
    <label><%= title.name %></label>
    <input type="checkbox" name="figure[title_ids][]" id="<%=title.id%>" value="<%=title.id%>" <%='checked' if @figure.titles.include?(title) %>>
  <% end %>

  <label>Add New Title:</label>
  <input type="text" name="title[name]" id="new_title">

  <input type="submit" value="Edit Figure">
</form>
